nav{
   background-color: aqua;
}
a{
    padding: 30px;
}
#front{
    background-image: url(img/per.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}
#nav1{
    position:fixed ;
    width: 100%;
}
#news{
    background-color: darkviolet;
    }
#news h1{
    color: white;
    text-align: center;
    border: 8px dashed rgb(66, 7, 60);
   
}
#zaha{
    width: 500px;
}
#alonso{
    width: 500px;
}
#liver{
    width: 500px;
}
#arse{
    width: 500px;
}
#swan{
    width: 500px;
}
#news p{
    color: rgb(23, 11, 66);
    font-family: 'Modak', cursive;
}
#table{
    background-color: darkviolet;
    text-align: center;
}
table,th,td{
    border: 4px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
th{
    height: 60px;
}
#tr1{
    background-color: green;
}
#history{
    background-color: blueviolet;
    text-align: center;
}
#history,h1,h2{
    color: rgb(34, 18, 18);
    font-family: 'Modak', cursive;
}
#account{
    background-color: blueviolet;
    text-align: center;
}
form p{
    font-family: 'Modak', cursive;
}
#p1{
    color: brown;
    font-family: 'Modak', cursive;
}
#nav2{
  background-color: blueviolet;
  padding: 20px;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
}
#club{
    background-color: cornflowerblue;
    text-align: center;
}
#club p{
    color: rgb(255, 255, 255);
}